body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto; 
border:1px solid black;
} 
#header
{
height: 150px;
background: Brown;
}
#left
{
width: 170px;
float: left;
background: AliceBlue;
}
#right
{
width: 580px;
float: left;
background: DarkGrey;
}
#footer
{
clear: both;
background: HoneyDew;
